.github/
.husky
.claude/
.idea/
src/
aqua.yaml
aqua-checksums.json
eslint.config.mjs
.gitignore
.node-version
.npmignore
.npmrc
.prettierrc.cjs
pnpm-lock.yaml
renovate.json
tsconfig.json
tsconfig.*.json
CLAUDE.md
tmp.txt
